<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/index.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <title>Main page</title>
</head>
<body>

<header>
    <div class="header_content">
        <div class="logo"><img src="/static/img/logo.png" alt=""></div>
        <div class="header_content_menu">
            <div class="menu_a"><a href="http://127.0.0.1:5000">Main</a></div>
            <div class="menu_a"><a href="http://127.0.0.1:5000/about">About</a></div>
            <div class="menu_a"><a href="http://127.0.0.1:5000/bootstrap">Bootstrap</a></div>
            <div class="menu_a"><a href="http://127.0.0.1:5000/login">Login</a></div>
        </div>
    </div>
</header>

<main>

    <div class="otstyp"></div>

    <div class="slider">
        <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/static/img/1713059276145181972.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/static/img/1714726195118096147.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/static/img/1714894347179426681.jpg" class="d-block w-100" alt="...">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>

    <div class="otstyp"></div>

    <div class="box_text">
        <div class="left_stick"></div>
        <div class="mem-text">
            <div class="mem_title">Мемы - это ...</div>
            <div class="mem_subtitle">нечто большее чем просто смешные картинки. Они не только поднимают настроение,
                 но и способствуют развитию когнитивных способностей, психологическому развитию, 
                а также развитию логических способностей.</div>
        </div>
    </div>

    <div class="otstyp"></div>

<div class="topics">
    <div class="topic topic_1">
        <div class="topic_logo"><img src="/static/img/Фотошоп 500х500.png" alt=""></div>
        <div class="topic_text">
            <div class="topic_title">Topic 1</div>
            <div class="topic_subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, assumenda? Id sit eaque, modi quasi nisi exercitationem omnis iusto ex deleniti sequi dolore recusandae nulla, accusamus nihil, veritatis fugit cum.</div>
        </div>
    </div>
    <div class="topic topic_2">
        <div class="topic_logo"><img src="/static/img/Фотошоп 500х500.png" alt=""></div>
        <div class="topic_text">
            <div class="topic_title">Topic 2</div>
            <div class="topic_subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, assumenda? Id sit eaque, modi quasi nisi exercitationem omnis iusto ex deleniti sequi dolore recusandae nulla, accusamus nihil, veritatis fugit cum.</div>
        </div>
    </div>
    <div class="topic topic_3">
        <div class="topic_logo"><img src="/static/img/Фотошоп 500х500.png" alt=""></div>
        <div class="topic_text">
            <div class="topic_title">Topic 3</div>
            <div class="topic_subtitle">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad, assumenda? Id sit eaque, modi quasi nisi exercitationem omnis iusto ex deleniti sequi dolore recusandae nulla, accusamus nihil, veritatis fugit cum.</div>
        </div>
    </div>
</div>

<div class="otstyp"></div>

</main>
    
</body>

<!--Bootstrap-->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<!--Bootstrap end-->
</html>